<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>TaskManager</title>
</head>
<body>
      <nav class="navbar" style="background-color: #B5B5B5;">
            <p style="color: black; margin:0 0 0 15vw; font-size: 2rem; font-weight: bold;">Your , To Do List App</p>
      </nav>
      <div class="container">
        <div class="box">
          <p style="display:block; font-weight: bolder; font-size: 2rem;margin: 10px 0; color: #00A1F2;">My Dashboard</p>
          <form class="formbox" action="/" method="post">
            <div class="inputBox">
              <input
                class="border"
                type="text"
                name="newentry"
                id="newentry"
                placeholder="eg Buy milk"
                autocomplete="off"
              />
            </div>
            <div class="btnbox">
              <button class="btn" type="submit">Add Task</button>
            </div>
          </form>
        </div>
        </div>
</body>
</html>