<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Open+Sans&family=Oswald&family=Space+Grotesk&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/styles.css">
<form action="/update" method="post">
    <div class="itemcontainer">
        <div class="itembox">
            <p>Edit the task</p>
            <input type="text" name="newname" value="<%= name %>" placeholder="<%= name %>">
            <button name="btnid" value="<%= id1 %>" onclick="this.form.submit()">Update</button>
    </div>
</form>
