/* Set styles for the entire page */
html,body{
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-family: 'Delicious Handrawn', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
}

/* Styles for the navigation bar */
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

/* Styles for the container holding the to-do list */
.container{
    display: flex;
    justify-content: center;
}

/* Styles for the individual box/container */
.box{
    display: inline;
    margin:50px;
    width: 35%;
    height: 40%;
    background: #eee;
    box-shadow: 0px 6px 8px -4px #595856;
    text-align: center;
    border-radius: 10px;
}

/* Styles for buttons */
.btn{
    text-align: center;
    line-height: 15px;
    margin: 5px 0;
}

/* Styles for the form box */
.formbox{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

/* Styles for the border */
.border{
    box-shadow: black;
}

/* Styles for the new entry input field */
#newentry{
    width: 25vw;
    height: 4vh;
    padding-left: 10px;
    border-radius: 10px;
    padding-top: 5px;
}

/* Styles for buttons within a box */
.btnbox{
    display: inline;
    padding-left: 10px;
    border-radius: 10px;
}

/* Styles for buttons */
.btn{
    width: 5vw;
    height: 4vh;
    margin: 0;
    border-radius: 20px;
}

/* Hover styles for buttons */
.btn:hover{
    background-color: #ffbd03;
    color: #eee;
    font-weight: bold;
}

/* Styles for the task container */
.taskContainer{
    margin: 15px 0;
    display: flex;
    justify-content:center;
}

/* Styles for individual task boxes */
.taskBox{
    display: inline-flex;
    justify-content: center;
    width: 30%;
    font-size: 1.2rem;
    margin: 10px 0;
    padding: 5px 0;
    font-weight: bold;
    background: #eee;
    box-shadow: 0 8px 6px -4px lightblue;
    border-radius: 6px;
}

/* Styles for text within the task boxes */
.taskBox p{
    margin: 3px 10px;
    width: 320px;
}

/* Styles for the click button within a task box */
.btnclick{
    margin: 0 5px;
}

/* Styles for the item container */
.itemcontainer{
    display:flex;
    justify-content: center;
    align-content: center;
    margin: 15%  0 0 0;
}

/* Styles for individual item boxes */
.itembox{
    background-color: azure;
    display: inline-block;
    text-align: center;
    padding-top: 40px;
    box-shadow: 0 7px 8px -4px lightcoral;
    border-radius: 20px;
    height: 200px;
    width: 350px;
}

/* Styles for text within the item boxes */
.itembox p{
    font-size: 1.5rem;
    font-weight: bold;
}

/* Responsive styles for screens smaller than 600px */
@media only screen and (max-width:600px){
    html,body{
        font-size: small;
    }
    .box{
        width: 60%;
        height: 60%;
    }
    .btn{
        font-size: 10px;
        width: 14vw;
        height: 6.5vh;
        margin: 0;
    }
    .taskBox{
        width: 45%;
    }
    #newentry{
        width: 36vw;
        height: 7vh;
        padding-left: 10px;
    }
}
